<section class="m-t-10">
  <div class="row">
    <div class="col-sm-12 text-center">
      <img src="assets/images/section.svg">
    </div>
  </div>

  <div class="row m-t-2">
    <div class="col-sm-12 text-center">
      <h2 class="main-heading"> Add Your First Section Board</h2>
    </div>
  </div>


  <div class="row m-t-1">
    <div class="col-sm-8 col-sm-offset-2">
      <p class="para-description">
        Section Boards are a great way to organize your work and take advantage of the powerful Artificial Intelligence engine behind
        Omni Legal. You can customize the workflow of your Matters through logical stages or take advantage of the intelligent
        flows already defined for your practice type.
      </p>
    </div>
  </div>

  <div class="row m-t-2">
    <div class="col-sm-12 text-center">
      <a class="btn btn-md btn-primary" routerLink="/section/board-setup"> + ADD NEW BOARD</a>

    </div>
  </div>
</section>