<!-- <h1>
  section-board-setup works!
</h1> -->
<!-- <div class="static-modal">
  <div class="blue-bar">
    <h3 class="text-white">Section Board Setup</h3>
  </div>
</div> -->

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Section Board Setup
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <span class="oval-shape">1</span><label>Name your board</label>
            <span class="oval-shape">2</span><label>Primary focus and stage</label>
          </div>
        </div>
        <div id="div_sectionName" class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h4>Name Your Section Board</h4>
            <label>
            Please select a unique name for each section board you create. 
            You will be able to move between boards and integrate actions across boards after they are set up.
          </label>
            <input type="text" class="form-control" placeholder="Say Something">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-right">
            <a class="btn btn-md btn-default" routerLink="/section/add">CANCEL</a>
            <input type="button" class="btn btn-md btn-primary" value="NEXT" disabled>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>